/* Center the nav-tabs using flexbox */
.nav-tabs {
  display: flex;
  justify-content: center; /* Centers the Nav horizontally */
  margin-bottom: 20px; /* Adds some space below the Nav */
}

/* Additional styling for the nav items if needed */
.nav-tabs .nav-item {
  margin: 0 10px; /* Adds some space between the nav items */
}


/* Style for the heading inside HowItWorksHeader */
.howitworks-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black; /* Black color for heading text */
}

/* Style for the main HowItWorks container */
.howitworks-container {
  padding: 20px;
  background-color: #fff; /* White background for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: black; /* Black color for container text */
}

/* Style for the HowItWorks section */
.howitworks {
  margin: 20px 0;
  /* background-color: #000; Black background for the howitworks section */
  color: #fff; /* White text for readability */
}

/* Style for the fixed position button at the bottom */
.button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black; /* Black background color for the button */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff; /* White text color for contrast */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #333; /* Dark gray background color on hover */
}
