/* AboutUs.css */

/* Container styling for positioning */
.about-us-container {
    position: relative;
}

/* General styles for all cards */
.card-col-1, .card-col-2, .card-col-3 {
    margin-bottom: 20px; /* Adds spacing between rows */
}

.card-1 {
    /* Styles specific to Card 1 */
    background-color: #f8f9fa; /* Light grey background */
    height: 18rem; /* Adjust height */
    margin-left: 4rem;
    margin-top: 5rem;
}

.card-title-1 {
    margin-left: 3rem;
}

.card-2 {
    /* Styles specific to Card 2 */
    background-color: #e9ecef; /* Slightly darker grey background */
    height: 18rem; /* Adjust height */
    margin-left: 16rem;
    margin-top: 5rem;
}

.card-title-2 {
    margin-left: 6rem;
}

.card-3 {
    /* Styles specific to Card 3 */
    background-color: #dee2e6; /* Another shade of grey */
    height: 18rem; /* Adjust height */
    position: absolute;
    margin-top: 10rem; /* Adjust this value to move the card up or down */
    left: 50%; /* Adjust this value to move the card left or right */
    transform: translate(-50%, -50%); /* Center the card */
}

.card-title-3 {
    margin-left: 6rem;
}

/* Adjust the card-3 position to be between card-1 and card-2 */
@media (min-width: 768px) {
    .card-col-3 {
        position: absolute;
        top: 10rem; /* Adjust based on desired vertical positioning */
        left: 50%;
        transform: translate(-50%, 0);
    }
}
