
/* ====== Hero Section ======= */

.hero-section {
    margin: 0;
}

/* ====== Hero Container ======= */
.hero-container {
    /* margin-top: 1rem; */
    margin-bottom: 5rem;
    /* background-color: skyblue; */
}


/* ====== Content Row ====== */

/* .content-row {
    height: 90%;
} */


/* ======= Col ======== */

/* .img-col .text-col {

} */

.img-col {
    display: flex;
    justify-content: end;
}

.text-col {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.text-col p{
    margin-top: 2rem;
    font-size: 1.15rem;
    font-weight: 400;
}

.text-col h1{
    font-size: 3.5rem;
    font-weight: 700;
}


/* ===== Search Box ====== */

.searchbox-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}


/* ====== Buttons ====== */

.btn.action {
    /* align-self: flex-end; */
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #DD761C;
    border: 1px solid #DD761C;
    color: white;
    /* border: none; */
    cursor: pointer;
    width: 30%;
}


.btn.action:active {
    background-color: white;
    color: #DD761C ;
    border: 1px solid #DD761C;
}